@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE dan Edge */
  scrollbar-width: none;  /* Firefox */
}
body {
  background-color: theme('colors.base-100');
  color: theme('colors.neutral');
}